* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    /* font-family: 'Montserrat', sans-serif; */
  }
  
  .myPortfolio{
    background: #0F2027;
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
    min-height: 100vh;
  }

  .projects {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
  }

  .container .card {
    position: relative;
    max-width: 300px;
    height: 170px;
    background: #0F2027;
    margin: 100px 50px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.1);
    transition: 0.3s ease-in-out;
  }

  .container .card:hover {
    height: 450px;
    padding-bottom: 30px;
  }

  .container .card .imageBox {
    position: relative;
    width: 100%;
    height: 220px;
    top: -60px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.1);
  }

  .container .card .imageBox img  {
    max-width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
  }

  .container .card .contentPortfolio {
    position: relative;
    margin-top: -140px;
    padding: 10px 0;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .container .card:hover .contentPortfolio {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
  }

  .contentPortfolio h1 {
    color: #856B61;
    margin-bottom: 10px;
  }

  .btnPreview,
  .btnGit {
    margin-top: 15px;
    padding: 15px 30px;
    border-radius: 2px;
    border: 1px solid #856B61;
    box-sizing: border-box;
  }

  .btnPreview:hover,
  .btnGit:hover {
    background-color: #856B61;
  }

  .btnGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .imgSTech {
    width: 13%;
    margin-top: 20px;
    padding-right: 10px;
  }

  @media screen and (max-width: 688px) {
    .myPortfolio {
      min-height: 170vh;
    }
  }