* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  /* font-family: 'Montserrat', sans-serif; */
}

.App {
  background: #0F2027;
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 100vh;
}

nav {
  grid-column: 1/4;
}

.body {
  grid-column: 1/4;
  width: 100%;
  height: 73.7vh;
}

.footer {
  grid-column: 1/4;
  height: 0vh;
}
